<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Create New Poll</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container">
        <form class="form-create" method="POST" th:action="@{/create}" th:object="${createForm}">
            <h2 class="form-heading">Create New Poll</h2>

            <div class="mb-3">
                <label for="name-input" class="form-label">Name</label>
                <input type="text" th:class="${name_error}? 'is-invalid form-control' : 'form-control'" id="name-input"
                    placeholder="University 04-2024" th:field="*{name}" />
                <div class="invalid-feedback" th:text="${name_error}" />
            </div>
            <div class="mb-3">
                <label for="topics-input" class="form-label">Topics</label>
                <textarea th:class="${topics_error}? 'is-invalid form-control' : 'form-control'" id="topics-input"
                    rows="5" aria-describedby="topics-help-block" th:field="*{topics}" />
                <div id="topics-help-block" class="form-text">
                    One topic per line.
                </div>
                <div class="invalid-feedback" th:text="${topics_error}" />
            </div>

            <div class="btn-group" role="group" aria-label="Create Button Box">
                <button class="btn btn-primary" type="submit">Create</button>
            </div>
        </form>
    </div>
</body>

</html>