<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Login</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="container">
      <form class="form-signin" method="POST" th:action="@{/login(p=${page})}" th:object="${loginForm}">
        <h2 class="form-heading">Log in</h2>

        <div class="form-group">
            <input name="password" type="password" class="form-control" placeholder="Password" th:field="*{password}"/>
            <span class="has-error" th:text="${error}"></span>

            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
        </div>
      </form>
    </div>
</body>
</html>