<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Unipoll</a>
    <button class="btn btn-sm btn-outline-secondary" type="button" id="theme-switch">switch dark/light theme</button>
  </div>
</nav>
<script>
    const h = document.querySelector('html')
    const userPrefTheme = localStorage.getItem('theme')
    if (userPrefTheme) {
        const t = userPrefTheme === "dark" ? 'dark' : 'light'
        h.setAttribute('data-bs-theme', t)
    } else {
        const darkThemeMq = window.matchMedia("(prefers-color-scheme: dark)")
        if (darkThemeMq.matches) {
            h.setAttribute('data-bs-theme', 'dark')
        } else {
            h.setAttribute('data-bs-theme', 'light');
        }
    }

    document.querySelectorAll('#theme-switch').forEach(d => {
        d.addEventListener('click', () => {
            const t = h.getAttribute('data-bs-theme') == 'dark' ? 'light' : 'dark'
            h.setAttribute('data-bs-theme', t)
            localStorage.setItem('theme', t)
        })
    })
</script>