<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Vote</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container">
        <form class="form-vote" method="POST" th:action="@{/vote(id=${id})}" th:object="${voteForm}">
            <h2 class="form-heading">Please select your choices and vote!</h2>
            <div class="form-group">
                <div class="form-check" th:each="choice: ${choices}">
                    <input class="form-check-input" type="checkbox" th:value="${choice.id}" th:field="*{selected}" />
                    <label class="form-check-label" th:for="${#ids.prev('selected')}" th:text="${choice.name}" />
                </div>

                <div class="btn-group" role="group" aria-label="Vote Button Box">
                    <button class="btn btn-primary" type="submit">Vote</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>